<div class="rounded-full bg-gray-200 bg-cover bg-center border border-gray-300" [ngStyle]="{
    'background-image': imageUrl ? 'url(' + imageUrl + ')' : 'none',
    'width.px': size,
    'height.px': size
  }" [ngClass]="{ 'flex items-center justify-center': !imageUrl }">
    <ng-container *ngIf="!imageUrl">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-1/2 w-1/2 text-gray-500" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5.121 17.804A9 9 0 1117.804 5.121 9 9 0 015.121 17.804z" />
        </svg>
    </ng-container>
</div>