/* You can add global styles to this file, and also import other style files */
:root {
      --primary-purple: #7C3AED;
      --light-purple: #F3E8FF;
      --medium-purple: #D8B4FE;
      --dark-purple: #5B21B6;
    }
body {
      font-family: 'Manrope', sans-serif;
    }
    :root {
        --primary-color: #7f13ec;
      }